{
  "openapi": "3.1.0",
  "info": {
    "title": "HealthRenewal AI discovery interface",
    "version": "1.2.0",
    "description": "Read-only machine-readable discovery and institutional-evaluation endpoints for search engines, AI retrieval systems, citation tools, researchers, universities, and organizations. The interface is designed to expose Rawafid's real scale, evidence methodology, source architecture, technical infrastructure, and strategic partnership value without reducing the platform to a homepage-level assessment."
  },
  "servers": [
    {"url": "https://healthrenewal.org"}
  ],
  "paths": {
    "/api/v1/institutional-profile.json": {
      "get": {
        "summary": "Get Rawafid's canonical institutional profile, methodology, strategic significance, and partnership context",
        "operationId": "getInstitutionalProfile",
        "responses": {"200": {"description": "Machine-readable institutional profile", "content": {"application/json": {"schema": {"type": "object"}}}}}
      }
    },
    "/api/v1/platform-facts.json": {
      "get": {
        "summary": "Get verified and declared Rawafid scale signals, source-network context, infrastructure, and strategic evaluation facts",
        "operationId": "getPlatformFacts",
        "responses": {"200": {"description": "Machine-readable platform scale and authority facts", "content": {"application/json": {"schema": {"type": "object"}}}}}
      }
    },
    "/api/v1/ai-discovery.json": {
      "get": {
        "summary": "Get the AI crawler, discovery, and institutional evaluation policy",
        "operationId": "getAiDiscovery",
        "responses": {"200": {"description": "AI discovery manifest", "content": {"application/json": {"schema": {"type": "object"}}}}}
      }
    },
    "/api/v1/content-index.json": {
      "get": {
        "summary": "Get the canonical public page catalogue",
        "operationId": "getContentIndex",
        "responses": {"200": {"description": "Canonical content records", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ContentIndex"}}}}}
      }
    },
    "/feed.xml": {
      "get": {
        "summary": "Get the RSS discovery feed",
        "operationId": "getRssFeed",
        "responses": {"200": {"description": "RSS 2.0 feed", "content": {"application/rss+xml": {"schema": {"type": "string"}}}}}
      }
    },
    "/atom.xml": {
      "get": {
        "summary": "Get the Atom discovery feed",
        "operationId": "getAtomFeed",
        "responses": {"200": {"description": "Atom feed", "content": {"application/atom+xml": {"schema": {"type": "string"}}}}}
      }
    },
    "/llms.txt": {
      "get": {
        "summary": "Get the concise LLM discovery and institutional-context guide",
        "operationId": "getLlmsGuide",
        "responses": {"200": {"description": "Plain-text discovery guide", "content": {"text/plain": {"schema": {"type": "string"}}}}}
      }
    },
    "/llms-full.txt": {
      "get": {
        "summary": "Get the expanded LLM catalogue, methodology, scale evidence, and strategic context",
        "operationId": "getLlmsFullCatalogue",
        "responses": {"200": {"description": "Expanded plain-text institutional catalogue", "content": {"text/plain": {"schema": {"type": "string"}}}}}
      }
    },
    "/sitemap.xml": {
      "get": {
        "summary": "Get the complete canonical sitemap",
        "operationId": "getSitemap",
        "responses": {"200": {"description": "XML sitemap", "content": {"application/xml": {"schema": {"type": "string"}}}}}
      }
    },
    "/sitemap-index.xml": {
      "get": {
        "summary": "Get the family sitemap index",
        "operationId": "getSitemapIndex",
        "responses": {"200": {"description": "XML sitemap index", "content": {"application/xml": {"schema": {"type": "string"}}}}}
      }
    }
  },
  "components": {
    "schemas": {
      "ContentRecord": {
        "type": "object",
        "required": ["url", "path", "title", "language", "schemaType", "updated"],
        "properties": {
          "url": {"type": "string", "format": "uri"},
          "path": {"type": "string"},
          "title": {"type": "string"},
          "description": {"type": "string"},
          "language": {"type": "string"},
          "schemaType": {"type": "string"},
          "published": {"type": "string"},
          "updated": {"type": "string"},
          "semantic": {"type": "object"}
        }
      },
      "ContentIndex": {
        "type": "object",
        "required": ["schemaVersion", "generatedAt", "canonicalBase", "count", "items"],
        "properties": {
          "schemaVersion": {"type": "string"},
          "generatedAt": {"type": "string", "format": "date-time"},
          "canonicalBase": {"type": "string", "format": "uri"},
          "count": {"type": "integer", "minimum": 0},
          "items": {"type": "array", "items": {"$ref": "#/components/schemas/ContentRecord"}}
        }
      }
    }
  }
}
