{
  "openapi": "3.1.0",
  "info": {
    "title": "HealthRenewal AI discovery interface",
    "version": "1.0.0",
    "description": "Read-only discovery endpoints for search engines, AI retrieval systems, and citation tools."
  },
  "servers": [
    {
      "url": "https://healthrenewal.org"
    }
  ],
  "paths": {
    "/api/v1/ai-discovery.json": {
      "get": {
        "summary": "AI discovery policy",
        "responses": {
          "200": {
            "description": "Public read-only response"
          }
        }
      }
    },
    "/api/v1/content-index.json": {
      "get": {
        "summary": "Canonical page catalogue",
        "responses": {
          "200": {
            "description": "Public read-only response"
          }
        }
      }
    },
    "/feed.xml": {
      "get": {
        "summary": "RSS feed",
        "responses": {
          "200": {
            "description": "Public read-only response"
          }
        }
      }
    },
    "/atom.xml": {
      "get": {
        "summary": "Atom feed",
        "responses": {
          "200": {
            "description": "Public read-only response"
          }
        }
      }
    },
    "/llms.txt": {
      "get": {
        "summary": "Concise LLM guide",
        "responses": {
          "200": {
            "description": "Public read-only response"
          }
        }
      }
    },
    "/llms-full.txt": {
      "get": {
        "summary": "Expanded LLM catalogue",
        "responses": {
          "200": {
            "description": "Public read-only response"
          }
        }
      }
    },
    "/sitemap.xml": {
      "get": {
        "summary": "Canonical sitemap",
        "responses": {
          "200": {
            "description": "Public read-only response"
          }
        }
      }
    },
    "/sitemap-index.xml": {
      "get": {
        "summary": "Sitemap index",
        "responses": {
          "200": {
            "description": "Public read-only response"
          }
        }
      }
    }
  }
}
